#chatFrame {
    border: 1px solid blue;
}

#newMessageArea {
    border: 1px dashed orangered;
}

#emojiArea {
    border: 1px dashed darkseagreen;
}

img.emoji {
    width: 20px;
    position: relative;
    bottom: -5px;
}

div.msg {
    padding-bottom: 3px;
    padding-top: 3px;
}